#python -c "import secrets; print(secrets.token_hex(32))"

DATABASE_URL=postgresql+psycopg2://usuario:password@localhost:5432/emergencias
SECRET_KEY=supersecretkey
DEBUG=True

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret