<nav class="navbar">
  <div class="navbar-inner">
    <a routerLink="/dashboard" class="navbar-brand">
      <span class="material-icons-outlined brand-icon">emergency</span>
      Emergencias
    </a>

    <div class="navbar-links">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>

      <!-- CLIENTE -->
      @if (auth.rol() === 'cliente') {
        <a routerLink="/emergencias" routerLinkActive="active">Mis Emergencias</a>
        <a routerLink="/vehiculos" routerLinkActive="active">Mis Vehículos</a>
      }

      <!-- TALLER -->
      @if (auth.rol() === 'taller') {
        <a routerLink="/taller/emergencias" routerLinkActive="active">Emergencias</a>
        <a routerLink="/taller/tecnicos" routerLinkActive="active">Técnicos</a>
        <a routerLink="/taller/perfil" routerLinkActive="active">Mi Taller</a>
      }

      <!-- TÉCNICO -->
      @if (auth.rol() === 'tecnico') {
        <a routerLink="/tecnico/emergencias" routerLinkActive="active">Mis Asignaciones</a>
      }

      <!-- ADMINISTRADOR -->
      @if (auth.rol() === 'administrador') {
        <a routerLink="/admin/usuarios" routerLinkActive="active">Usuarios</a>
        <a routerLink="/admin/talleres" routerLinkActive="active">Talleres</a>
        <a routerLink="/emergencias" routerLinkActive="active">Emergencias</a>
      }
    </div>

    <div class="navbar-user">
      <span class="user-role badge-role" [class]="'role-' + auth.rol()">{{ auth.rol() }}</span>
      <button class="btn-logout" (click)="auth.logout()">Cerrar sesión</button>
    </div>
  </div>
</nav>

